nav{
	.main-menu{
		display: flex;
		align-items: center;
		justify-content: flex-end;

		a{
			display: block;
			padding: 15px;
			color: @color__white;
			font-weight: 500;
			font-size: 16px;
			text-decoration: none;

			&:active,
			&:visited{
				color: @color__white;
			}
			&.nav-link.show,
			&:hover{
				color: @color__secondary;
			}
		}

		.dropdown-menu{
			background-color: @color__main;
		}
	}
}