header{
	background-color: @bg__footer;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid lighten(@bg__footer, 5%);
	margin-bottom: 20px;

	.logo{
		a{
			display: block;
			max-width: 110px;
		}
	}
}